ol
  li
    | Go to
    |
    a(href="https://jsonformatter.org/json-editor" target="_blank") JSONformatter.org
  li
    | Click
    |
    span.font-weight-bold Load Data
    |
    | to upload your recipes file
  li
    | Edit your recipes on the
    |
    span.text-uppercase.font-weight-bold right
    | &ndash;sided pane
    |
    small.text-muted (ignore the result on the left)
  li
    | Click the right-to-left button
    |
    .li-back-arrow
    |
    | once you're done
  li
    | Click
    |
    span.font-weight-bold Download
    |
    | to save your recipes file
